.desktop-color {
  background-color: #ffffff;
  height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.logo {
  margin-left: 2vw;
}

.languages-btn {
  position: absolute;
  right: 5vw;
  top: 4vh;
}

.orange {
  width: 100vw;
  height: 15vh;
  margin-top: 15vh;
  background-color: #FF9F1C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 63.429px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.image {
  height: auto;
  max-width: 100%;
}

.image-box {
  margin-top: 5vh;
}

.button-box {
  margin-top: 10vh;
}