.desktop-color {
  background-color: #ffffff;
  /* height: 888px; */
  height: 108.29vh;
  overflow: hidden;
  position: relative;
  /* width: 1461px; */
  width: 101.45vw;
}

.desktop-color .sign {
  /* height: 141px; */
  height: 17.19vh;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  /* width: 335px; */
  width: 23.26vw;
}

.desktop-color .start-button {
  all: unset;
  box-sizing: border-box;
  /* height: 79px; */
  height: 9.63vh;
  left: 653px;
  position: absolute;
  top: 784px;
  /* width: 157px; */
  width: 10.90vw;
}

.desktop-color .overlap-group {
  border: 6.4px solid;
  border-color: #ff9f1c;
  /* height: 79px; */
  height: 9.63vh;
  position: relative;
  /* width: 155px; */
  width: 10.76vw;
}

.desktop-color .text-wrapper {
  color: #ff9f1c;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-size: 53.1px;
  font-weight: 800;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  white-space: nowrap;
}

.desktop-color .languages-button {
  /* height: 46px; */
  height: 5.60vh;
  left: 1196px;
  position: absolute;
  top: 51px;
  /* width: 230px; */
  width: 15.97vw;
}

.desktop-color .div {
  color: #ff9f1c;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-size: 38.1px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  /* width: 199px; */
  width: 13.81vw;
}

.desktop-color .languages-caret {
  /* height: 18px; */
  height: 2.19vh;
  left: 201px;
  position: absolute;
  top: 16px;
  /* width: 24px; */
  width: 1.66vw;
}

.desktop-color .overlap {
  background-color: #ff9f1c;
  /* height: 124px; */
  height: 15.12vh;
  left: -22px;
  position: absolute;
  top: 208px;
  /* width: 1536px; */
  width: 106.66vw;
}

.desktop-color .sign-language {
  color: #ffffff;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-size: 63.4px;
  font-weight: 800;
  left: 283px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  /* width: 972px; */
  width: 67.5vw;
}

.desktop-color .side-image {
  /* height: 259px; */
  height: 31.58vh;
  left: 440px;
  object-fit: cover;
  position: absolute;
  top: 378px;
  /* width: 582px; */
  width: 40.41vw;
}